[submodule "src/vlfeat"]
	path = src/vlfeat
	url = git@github.com:vlfeat/vlfeat.git
[submodule "test/Images_bob"]
	path = test/Images_bob
	url = git@github.com:rohitgirdhar/SpongeBobImagesDataset.git
